@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
    background-color: #cecaaa;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

section{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: 4em;
}

h2{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
}

p{
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

li{
    font-family: 'Silkscreen', cursive;
    font-size: 1.2em;
}

button{
    font-family: 'Silkscreen', cursive;
    font-size: 1.5em;
    margin-top: 40px;
    width: 330px;
    padding: 30px;
    border: solid 2px #55868c;
    border-radius: 10px;
    background-color: #55868c;
    color: #fff;
    transition: 0.4s;
}

.boutonConnexion{
    font-size: 1em;
    margin-top: 20px !important;
    width: 200px !important;
    margin-top: 0 !important;
}

button:hover{
    background-color: #17868f;
    border-color: #17868f;
    cursor: pointer;
}

#description{
    margin-top: 40px;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menulvl button {
    margin-left: 3.2ex;
}

#menulvl {
    margin-bottom:-3.2em;
}
