@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    padding: 20px;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: 4em;
    justify-content: center;
    color: #fff;
}

h2{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #fff;
}

#titreHistoire{
    padding-top: 40px;
}

p{
    font-family: 'Silkscreen', cursive;
    text-align: justify;
    color: #fff;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    font-family: 'Silkscreen', cursive;
    font-size: 1.2em;
    color: #fff;
}

button{
    font-family: 'Silkscreen', cursive;
    font-size: 1.5em;
    margin-top: 40px;
    width: 330px;
    padding: 30px;
    border: solid 2px #55868c;
    border-radius: 10px;
    background-color: #55868c;
    color: #fff;
    transition: 0.4s;
}

#Deconnexion{
    width: 175px;
}

.boutonConnexion{
    font-size: 1em;
    margin-top: 20px !important;
    width: 200px !important;
    margin-top: 0 !important;
}

.boutonAdministrateur{
    font-size: 1em;
    margin-top: 20px !important;
    width: 200px !important; 
    margin-top: 0 !important;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button:hover{
    background-color: #17868f;
    border-color: #17868f;
    cursor: pointer;
}

#description{
    margin-top: 40px;
}

#textDescription{
    padding: 0 20%;
}

#imgAlien{
    height: 152px;
}

#histoire{
    margin-top: 40px;
    padding: 0 20%;
}

#histoire-image-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menulvl {
    margin-bottom:-3.2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menulvl p{
    color: #fff;
    width: 800px;
    margin-top: 100px;
    text-align: center;
}

object {
    transition: 0.4s;
    position: absolute;
    margin-left: -27ex;
}

#pageAdmin {
    display: none;
    margin-left: 79%;
}

@media(max-width : 800px){

    .section {
        height: 100%;
    }

    #histoire-image-text{
        flex-direction: column;
    }

    #imgAlien{
        margin-bottom: 30px;
    }

    #sectionScore{
        margin-top: 100px;
    }

    button{
        width: 220px;
    }

    .boutonAdministrateur{
        padding: 38px 0;
        font-size: 0.8em;
        width: 150px !important;
    }

    .boutonConnexion{
        font-size: 0.8em;
        width: 180px !important;
    }

    h1{
        margin-top: 30px;
        font-size: 3em;
    }

    #menulvl p{
        width: auto;
        margin: 0 20px;
    }
}